---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
---

<Layout
  title="Gabriel's portfolio - Web Developer"
  icon="/img/profilephoto.webp"
>
  <main class="px-10 mb-auto">
    
  </main>
</Layout>
