---
const EDUCATION = [
  {
    title: 'SCRUM & Agile Methodologies - CODERHOUSE',
    date: 'December 2025 - February 2026',
    description: 'In this course, I explored Scrum and agile methodologies to improve project management. I learned how to lead teams, prioritize tasks, and adapt to change, enhancing efficiency and ensuring continuous value delivery throughout the project lifecycle.',
  },
  {
    title: 'Product Manager - CODERHOUSE',
    date: 'November 2025 - January 2026',
    description: 'In this course, I developed a comprehensive understanding of the Product Manager role. I learned how to lead the product lifecycle from problem discovery to solution validation, define product strategies aligned with business goals, and collaborate with agile teams. I also gained hands-on experience in data-driven decision-making, backlog prioritization, and continuous validation, with a strong focus on delivering real value to users and stakeholders.',
  },
  {
    title: 'Leadership and Team Management - CODERHOUSE',
    date: 'October 2025 - November 2025',
    description: 'This course strengthened my leadership and team management skills, focusing on effective communication, collaboration, decision-making, and guiding teams toward shared goals.',
  },
  {
    title: 'Foundations of Computer Science - Holberton School',
    date: 'June 2023 - March 2024',
    description: '9 month bootcamp with the benefit of a great campus and staff. We learned from the basics programming in C during 3 months to build a solid foundation where we could learn Python and SQL much faster, to finish the last 3 months learning JS, Node and creating an awesome final project in teams.',
  },
  {
    title: 'Art and Design of Videogames - BIOS',
    date: 'March 2020 - September 2021',
    description: '2 year course about designing and making the art for a videogame. From creating 2D characters to 3D (using 3DS Max), writing the story, designing the scenery and the mechanics. We finished the first year developing a 2D videogame making team with students of Game development.',
  },
  {
    title: 'Degree in Industrial Design - UdelaR',
    date: 'March 2019 - March 2020',
    description: 'We learned the basics of the design concepts from the most abstract stuff to build something real.',
  }
]

import EducationItem from "./EducationItem.astro"
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EDUCATION.map(education => (
    <li>
      <EducationItem {...education}/>
    </li>
    ))
  }
</ol>

