<header class="flex justify-center items-center py-5 mx-auto w-full lg:w-[1000px]">
  <nav class="flex flex-row gap-x-10 lg:gap-x-20">
    <a class="hover:scale-110 transition" href="/">Home</a>
    <a class="hover:scale-110 transition" href="#about">About</a>
    <a class="hover:scale-110 transition" href="#projects">Projects</a>
    <a class="hover:scale-110 transition" href="/contact">Contact</a>
  </nav>
</header> 