<header class="flex justify-center items-center py-5 mx-auto w-full xl:w-[1120px]">
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a class="hover:scale-110 transition" href="/">Home</a>
    <a class="hover:scale-110 transition" href="#about">About</a>
    <a class="hover:scale-110 transition" href="#projects">Projects</a>
    <a class="hover:scale-110 transition" href="/contact">Contact</a>
  </nav>
</header> 